dCBOR42 vs dag-cbor

A cursory reading of the [dCBOR42](https://dasl.ing/dcbor42.html) spec makes it seem equivalent to [dag-cbor](https://ipld.io/specs/codecs/dag-cbor/spec/). It even uses the same multicodec code, 0x71. Upon investigation, it seems incompatible however. For example, dCBOR42 depends on [dCBOR](https://datatracker.ietf.org/doc/draft-mcnally-deterministic-cbor/), which requires "lexicographic ordering of map keys". But the dag-cbor spec requires map key ordering "follow the original rules as defined in section 3.9 of RFC 7049", which includes "If two keys have different lengths, the shorter one sorts earlier". This is not lexicographic ordering.

A few questions arise from this for me:

1. Could this be noted on the dCBOR42 spec page?
2. Should dCBOR42 use a different multicodec number to reduce confusion?
3. Are there are software libraries that implement dCBOR42?

Finally, it seems impossible for me to write software that complies with dCBOR42 without writing my own CBOR library. For example in Go, the main library is [fxamacker/cbor](https://github.com/fxamacker/cbor) which supports "RFC 8949 Core Deterministic Encoding" but not necessarily dCBOR. For example dCBOR [requires](https://www.ietf.org/archive/id/draft-mcnally-deterministic-cbor-12.html#section-2.3) floats be converted to integers when possible, and fxamacker/cbor doesn't support that. Furthermore, it would be a hard sell to the maintainer given both dCBOR and the spec it relies on (CDE) are only drafts.

Any thoughts on what someone developing software *today* should do? Thanks, and I appreciate your work on the DASL specs.

these are good and hard questions, I think getting a mainstream CBOR library to have a dCBOR "mode" or feature branch is a pretty big lift, and haven't reviewed how many are already partially or fully there.  for the sake of testing, you could use [these libraries by the org championing the dCBOR drafts at IETF](https://github.com/BlockchainCommons/crypto-commons/blob/master/dcbor.md#dcbor-developer-libraries--applications), but you make a valid point that mainstream adoption in prod might be a bridge too far for many.  we will discuss!

> Any thoughts on what someone developing software _today_ should do? Thanks, and I appreciate your work on the DASL specs.

Actually, I realized after pointing you to the libraries that Golang isn't represented among them!  I poked around in the v2 "profile" interface for fxamacker/cbor and found the RFC 7049 sort _is_ a [configurable option](https://github.com/fxamacker/cbor/blob/9357f00454e368d9a72b9fcd0e64850e7b0909d8/encode.go#L180), but you might be right about force-typing floats to ints, `ShortestFloat` does not seem to [take "int" as an option](https://github.com/fxamacker/cbor/blob/9357f00454e368d9a72b9fcd0e64850e7b0909d8/encode.go#L217-L236) currently. 

A few quick thoughts:

1. CBOR is not readable by humans, why are we sorting the way a dictionary would (lexicographically)? The authors of RFC 7049 chose the sort order they did because it'll generally encode faster (because length checks can be used instead of byte string comparisons).
2. I personally think @makew0rld is right: anything that differs in sort order preference **must** use a different multicodec. Data will not roundrip through parsers that differ in ordering & produce the same hash. This runs the risk of causing lots of issues if different parsers are mixed out in the wild.
3. It seems these specs don't actually "union" together as nice as one would hope unfortunately. Writing new code means writing new bugs means shipping fewer features. Is there a reason we can't all just say "use dag-cbor" and be done with it? (honest question!)

Regarding (1), the up to date CBOR (not dCBOR) spec, RFC 8949, requires "bytewise lexicographic order". It is dag-cbor that is out of date in this case, although for what reason I'm not sure. Could be speed, backwards-compatibility, or something else.

Right, A.) 2025 vanilla CBOR and b.) DAG-CBOR and c.) dCBOR42 are, _in CBOR terms_, 3 different application profiles (and the fact that not all CBOR libraries can be configured for any of the 3 is a real problem!).  

|profile|sort|canonical float reduction|[`@ipfs/dag-cbor`](https://www.npmjs.com/package/@ipld/dag-cbor)/[`ipfs/go-ipld-cbor`](https://github.com/ipfs/go-ipld-cbor)|[fxamacker](https://github.com/fxamacker/cbor)|
|---|---|---|---|---|
|CBOR|bytewise lexical|float16|[ ]|[X]|
|DAG-CBOR|length-first bytewise lexical|n/a (no floats period)|[X]|[ ]|
|dCBOR42|length-first, bytewise lexical|int|[?]|[ ]|

@lidel I haven't checked but I assume ipld/dag-cbor (NPM) and/or [`ipfs/go-ipld-cbor`](https://github.com/ipfs/go-ipld-cbor) don't do floats at all, right?

> n/a (no floats period)

The [dag-cbor spec](https://ipld.io/specs/codecs/dag-cbor/spec/) says floats are **allowed** and "must always encoded in 64-bit". (This makes sense, since floats are part of the [IPLD Data Model](https://ipld.io/docs/data-model/kinds/).) So there is no float reduction, but there are floats.

Also, fxamacker/cbor **does** support the "length-first bytewise lexical" sort used by dag-cbor, see [SortMode](https://pkg.go.dev/github.com/fxamacker/cbor/v2#SortMode).

Finally dCBOR42 does do length-first map sort.

Corrected table:

| profile | sort | canonical float reduction | @ipfs/dag-cbor | [fxamacker/cbor](https://github.com/fxamacker/cbor) |
|----|----|----|----|----|
| CBOR | bytewise lexical | float16 | \[ \] | \[X\] |
| DAG-CBOR | length-first bytewise lexical |64-bit only | \[X\] | \[X\] |
| dCBOR42 | bytewise lexical | int | \[?\] | \[ \] |


@bumblefudge  tbh I did not see floats in dag-cbor (or IPLD Data Model tbh) in real world – people seem to avoid ambiguities like that, or they hit cross-language/cross-library issues and gave up.

This reminds me of a long-standing issue we've encountered with numbers in JSON. Experienced developers are aware of the ambiguities in both specs and libraries. To ensure maximum interop and avoid parser issues across different languages and impl. they often resort to defensive programming, store numbers in a String (or bytes) field, and have own helpers for interpreting that. 

----

As for dCBOR42 using `dag-cbor` codec, agree with @b5  that if the spec state is _"this is dag-cbor codec but data does not follow specs from https://ipld.io/specs/codecs/dag-cbor/spec/"_  then a different codec should be used.

❓  If dCBOR42 is an application/userland layer CBOR serialization convention that is **not tied to IPLD Data Model**, is there any practical reason dCBOR42 requires registering a separate codec other than reusing existing plain `cbor` (`0x51`)? 

My intuition is that dCBOR42 CID interop should put more weight on "reader" story: data is created once, and read many times. Content-addressed datasets grow by patching new branches onto existing bigger trees, without re-fetching and re-encoding everything. IPFS implementations avoid write-on-read scenarios where possible.

💡 Going with plain `cbor` codec collapses the "reader" story into "this is CBOR + Tag42, any existing CBOR library can parse this".   (["Be strict about the outcomes, be tolerant about the methods."](https://specs.ipfs.tech/architecture/principles/#robustness))

For "writer" story, have a page with dCBOR42 libraries in all popular languages and call it a day.
When round-trip determinism is required implementers will always prefer dCBOR42-specific library with extensive test coverage for all known edge cases and regression tests that protect determinism from language/architecture-level bugs. We did this with Protobuf, did it for DAG-CBOR. 

@lidel Quick question: we're reviewing your thoughts here but we don't quite get the reader/writer part. Would you mind clarifying?

- writer: who creates data (once)
- reader: who retrieves and parses the data (multiple times)

We're regrouping to figure out a way to walk back the dCBOR42 thing to a profile of DAG-CBOR, will post details here soon but hope it can unblock you in the meantime to just use DAG-CBOR, @makew0rld !

Just going to add this for posterity: it turns out that the two sort orders discussed have the exact same output, when maps are limited to string keys as dag-cbor requires.

> Just going to add this for posterity: it turns out that the two sort orders discussed have the exact same output, when maps are limited to string keys as dag-cbor requires.

That's sadly not the case. Here's an example ([run it online](https://jsgist.org/?src=cb64%2CeJyFkEFPhDAQhf_KpCdIkO4SwwFj4k1joh48Wg-FFigpLaFz2A3pf3eA1aiX7Rz60nzvzUsX5uSoWcVezjCERxOQZSxoROO6wKolZqw1VpP8-EGNU_qU9zhaYhvvUDukZxazf0gTwhVi-AuYcfIzwqJd45XOQOn1jtDOfgTBesQpVJzrMOah5w9msoor2d00tZ8FuxNOkNEFBF8PcA-LcACSTgXHbNV1XUFBKq6k1QhKoiRw35eQKxWOc5BFuc2hKG_L4z6H4x7urc6t75LVmqN_0qckJdeWttVVFLirjdkTl8vu7zpAFX6nPb-_veYBZ_p2056TS1KasvgZvwD17Inb)):


```js
import { encode, decode } from '@ipld/dag-cbor'

const obj = {
  aaaa: 1,
  bb: 2,
}

let data = encode(obj)
// a262626202646161616101
console.log(Buffer.from(data).toString('hex'))
let decoded = decode(data)
// { bb: 2, aaaa: 1 }
console.log(decoded)
```

When you put those bytes into the CBOR playground: https://cbor.me/?bytes=a262626202646161616101 you can see that `bb` is sorted before `aaaa`.

```
A2             # map(2)
   62          # text(2)
      6262     # "bb"
   02          # unsigned(2)
   64          # text(4)
      61616161 # "aaaa"
   01          # unsigned(1)
```

The lexicographical order would be the reverse.



> The lexicographical order would be the reverse.

This is not true. RFC 8949 specifies the sorting is done based on the encoded keys, and so the length header (`62`, `64`) is compared also. This means the length is checked first implicitly for lexicographic comparison (for string keys). 

https://www.rfc-editor.org/rfc/rfc8949.html#section-4.2.1-2.3.1

Thanks @makew0rld for the detailed reply. You are right. I'm most familiar with the old RFC.

For anyone reading this. The example on linked section

> https://www.rfc-editor.org/rfc/rfc8949.html#section-4.2.1-2.3.1

shows it at item 4 and 5:

> 4. "z", encoded as 0x617a.
> 5. "aa", encoded as 0x626161.

I thought the new order does *not" contain the header, but that's obviously not the case.